.burgerConstructor{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
}
.burgerConstructorSection{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.burgerConstructorElementsTop{
    align-self: flex-end;
}
.burgerConstructorElementsBottom{
    align-self: flex-end;
}
.burgerConstructorElementsBottom img{
    transform: rotate(180deg);
}
.burgerConstructorElementsSection{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.burgerConstructorElement{
    display: flex;
    gap: 10px;
}
.burgerConstructorElementIcon{
    align-self: center;
}

.burgerConstructorPriceButtonSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
}
