.modalWindow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-Items: start;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    width: 720px;
    z-index: 2;
}
.modalWindowHeaderNoCaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-Items: start;
    height: 88px;
    width: 100%;
}
.modalWindowHeaderCaption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.modalWindowContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-Items: center;

    width: 100%;
}