.BurgerIngredients{
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.BurgerIngredientsTitle{
    display: flex;
    justify-content: left;
}

.BurgerIngredientsElements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.BurgerIngredientsElement{
    list-style-type: none;
    max-width: 250px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BurgerIngredientsElementCounter{
    position: relative;
    display: flex;
}
.BurgerIngredientsElementImage{
    display: flex;
    justify-content: center;
}
.BurgerIngredientsElementPrice{
    display: flex; 
    justify-content: center;
}
.BurgerIngredientsElementCaption{
    display: flex;
    text-align: center;
}