.BurgerIngredients{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    /*max-width: 48%;*/
}
.BurgerIngredientsTitle{
    display: flex;
    justify-content: left;
}

.BurgerIngredientsElements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    /*min-width: 586px;*/
}
.BurgerIngredientsElement{
    list-style-type: none;
    max-width: 250px;
    /*min-width: 250px;
    max-height: 208px;
    min-height: 208px;*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BurgerIngredientsElementCounter{
    position: relative;
    display: flex;
    /*align-self: flex-end;*/
}
.BurgerIngredientsElementImage{
    display: flex;
    justify-content: center;
}
.BurgerIngredientsElementPrice{
    display: flex; 
    justify-content: center;
}
.BurgerIngredientsElementCaption{
    display: flex;
    /*justify-content: space-between;*/
    /*align-self: center;*/
    text-align: center;
}